*{
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  body {
    background: #FFF;
    color: #333;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #FFF;
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.photo-container {
  line-height: 0;
  column-count: 5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-container img {
  width: auto !important;
  height: 175px !important;
  margin-top: 20px;
}
