.image-preview{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.90);
    top:0;
    left: 0;
    overflow: hidden;
}

.display-section {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.close {
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
    font-weight: bold;
    font-size: calc(2rem);
}